.send {
  font-size: 15px;
  padding: 6px 15px;
  background-color: #d571ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 40px;
}

.sendDisabled {
  font-size: 15px;
  padding: 6px 15px;
  background-color: #fcf3ff;
  color: rgb(24, 23, 23);
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 40px;
}