
.response {
  padding: 10px;
}
.answers {
  list-style-type: none;
}

.questionData{
  word-wrap: break-word;
  height: 70px;
  font-size: 20px;
  width: 100%;
}

.answerBox {
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  padding: 8px;
  margin-top: 10px;
}
