.index {
  background-color: rgba(129, 17, 173, 0.39);
  color: white;
  width: 60px;
  height: 60px;
}

.response {
  flex: 1;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.answers {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.answerBox {
  background-color: #ffffff;
  border-radius: 25px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
  align-content: flex-end ;

}