.containerParams, .container {
  position: relative;
  width: 250px;
  height: 200px;
}

.dropdownButton {
  width: 260px;
  height: 30px;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border: 1px solid #ccc;
  position: relative;
}

.dropdownButton:hover {
  background-color: #eaeaea;
}

.dropdownList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.dropdownList li {
  padding: 10px;
  cursor: pointer;
}

.dropdownList li:hover {
  background-color: #f1f1f1;
}
